# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/node_modules/
src/app/recipes/recipe-edit/
src/app/recipes/recipes-detail/
src/app/recipes/recipes-list/
src/app/recipes/recipes.component.css
src/app/recipes/recipes.component.html
src/app/recipes/recipes.component.ts
src/app/recipes/select-recipe/
src/app/shopping-list/shopping-edit/
src/app/shopping-list/shopping-list.component.css
src/app/shopping-list/shopping-list.component.html
src/app/shopping-list/shopping-list.component.ts
/.idea/
